*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
.container
{
    width: 1520px;
    height: 705px;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/library-2.jpg);
    background-position: center;
    background-size: cover
}
.nav-bar ul
{
    list-style: none;
    display: inline-flex;
    margin: 50px 0 50px 100px;
}
.nav-bar ul li a
{
    margin-right: 70px;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: verdana;
}
.nav-bar .important
{
    color: #DC7633 !important;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #DC7633;
    transition: 0.2s;
}
.nav-bar ul li a:hover
{
    color: #21618C;
}

.login-page
{
    width: 350px;
    height: 500px;
    background:rgba(66, 73, 73,0.7);
    border-radius: 10px;
    margin: 50px auto;
}
.login-page img
{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 0 130px;
    top: 120px;
}
.login-page h1
{
    color: white;
    text-align: center;
    padding: 70px 0 20px 0; 
    font-family: sans-serif;
    font-size: 30px;
}
.login-page h2
{
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 10%;
    line-height: 20px;
}
.login-page input[type="text"], input[type="password"]
{
    
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 80%;
    margin: 0 10%;
}
.login-page input[type="submit"]
{
    padding: 10px 100px;
    margin: 0 12%;
    border-radius: 20px;
    font-size: 18px;
    background: #D35400;
    letter-spacing: 2px;
    outline: none;
    border: none;
    font-weight: 600;
}
.login-page input[type="submit"]:hover
{
    background: #BA4A00;
    transition: 0.5s;
    color: #1C2833 ;
    cursor: pointer;
}
.login-page a
{
    color: #B3B6B7 ;
    line-height: 25px;
    padding: 0px 10%;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.login-page a:hover
{
    color: #3498DB ;
    transition: 0.2s;
}
