@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    width: 100%;
    text-align: center;
    align-items: center;
    background: #14142e;
    color: white;
    overflow: hidden;
}


.heading {
    padding: 40px 0;
}

.heading h2 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.09rem;
    color: #fd00da; 
}

.display-board {
    width: 90%;
    margin: 0 auto;
    border: 2px solid white;
    display: none;
}

.names, .card-image, .draw-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid white;
}
.names span, .card-image div, .draw-btn div{
    border-right: 2px solid white;
}
.names h3, .names h6{
    color: #fa8723;
    font-size: 22px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    user-select: none;
    margin: 20px;
    text-transform: capitalize;
}
.card-image img{
    width: 70px;
    height: 100px;
    padding: 30px
}

.result {
    margin: 40px;
    display: none;
}
.result h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    color: #f4d62e;
}
.collect{
    margin: 20px 0;
    display: none;
}
.collect button{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right,#fd00da,#19d7f8);
}
.collect button:hover, .start-btn button:hover, .refresh button:hover{
    box-shadow: 1px 1px 50px #fd00da;
}

.start-btn button, .refresh button, .draw-btn button {
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right,#fd00da,#19d7f8);
    
}

.draw1, .draw2{
    padding: 10px;
    
}
.per1-draw, .per1-throw, .per2-draw, .per2-throw{
    margin: 0px 10px;
    visibility: hidden;
}



.refresh{
    display: none;
}



